:root {
    --accent-color: #4440F6;
    --text-color: #111321;
    --grey: #A8A8A8;
    --white: #FFFFFF;
    --disabled-color: #5F6775;
    --dark-bcg-color: #686868;
    --footer-bcg-color: #7A7A7A;
    --line-color: #929292;
    --header-border: rgba(0, 0, 0, 0.2);
}