@import './utils/variables';
@import './utils/fonts';
@import './utils/common';
@import './utils/mixins';
@import './utils/placeholders';
@import './layouts/header';
@import './layouts/categories';
@import './components/calendar';
@import './layouts/news-cards';
@import './layouts/dark-theme';
@import './layouts/footer';
@import './layouts/weather';
@import './components/no-results';
