@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  @media screen and(min-width: 768px) {
    width: auto;
  }
  // height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: url(../images/cursor-hand.svg), pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
  fill: currentColor;
}
