:root {
  --accent-color: #4440f6;
  --text-color: #111321;
  --grey: #a8a8a8;
  --white: #ffffff;
  --disabled-color: #5f6775;
  --bcg-color: #f4f4f4;
  --dark-bcg-color: #2e2e2e;
  --footer-bcg-color: #7a7a7a;
  --line-color: #929292;
  --header-border: rgba(0, 0, 0, 0.2);
  --dropdown-list: #f8f8f8;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // DarkMode
  //body.darkMode {
  //--bg-color: #2e2e2e;
  // --text-color: #f4f4f4;
  // switcher colors

  //--switcher-accent-day: #f4f4f4;
  //--switcher-gray-moon: #4440f7;
  //}
}
