<section class="categories">
  <ul class="categories__list">
    <li class="categories__item">
      <button class="categories__btn display-tab" type="button">Admin</button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button">Arts</button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button">Automobiles</button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button">Books</button>
    </li>
    <li class="categories__item display-desk">
      <button class="categories__btn" type="button">Briefing</button>
    </li>
    <li class="categories__item display-desk">
      <button class="categories__btn" type="button">Business</button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button" id="others">Others</button>
    </li>
  </ul>

  <div class="dropdown js-is-hidden" id="dropdown">
    <ul>
      <li><button class="dropdown-item" type="button">Climate</button></li>
      <li>
        <button class="dropdown-item" type="button">Corrections</button>
      </li>
      <li><button class="dropdown-item" type="button">Education</button></li>
      <li><button class="dropdown-item" type="button">En Español</button></li>
      <li><button class="dropdown-item" type="button">Fashion</button></li>
      <li><button class="dropdown-item" type="button">Food</button></li>
      <li><button class="dropdown-item" type="button">Guides</button></li>
      <li><button class="dropdown-item" type="button">Health</button></li>
      <li>
        <button class="dropdown-item" type="button">Home & Garden</button>
      </li>
      <li><button class="dropdown-item" type="button">Home Page</button></li>
      <li><button class="dropdown-item" type="button">Job Market</button></li>
      <li><button class="dropdown-item" type="button">Lens</button></li>
    </ul>
  </div>
</section>
