<section class="categories">
  <ul class="categories__list" id="categories__list">
    <li class="categories__item">
      <button class="categories__btn display-tab" type="button"></button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button"></button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button"></button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button"></button>
    </li>
    <li class="categories__item display-desk">
      <button class="categories__btn" type="button"></button>
    </li>
    <li class="categories__item display-desk">
      <button class="categories__btn" type="button"></button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button" id="others">
        <span id="categories-span">Others</span>
        <svg class="categories__arrow" width="14" height="14">
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </button>
    </li>
  </ul>

  <div class="dropdown js-is-hidden" id="dropdown">
    <ul id="others-list"></ul>
  </div>
</section>
