<section class="categories">
  <ul class="categories__list">
    <li class="categories__item">
      <button class="categories__btn display-tab" type="button" id="1"></button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button" id="2"></button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button" id="3"></button>
    </li>
    <li class="categories__item display-tab">
      <button class="categories__btn" type="button" id="4"></button>
    </li>
    <li class="categories__item display-desk">
      <button class="categories__btn" type="button" id="5"></button>
    </li>
    <li class="categories__item display-desk">
      <button class="categories__btn" type="button" id="6"></button>
    </li>
    <li class="categories__item">
      <button class="categories__btn" type="button" id="others">
        <span>Others</span>
        <svg class="categories__arrow" width="14" height="14">
          <use href="./images/sprite.svg#arrow-down"></use>
        </svg>
      </button>
    </li>
  </ul>

  <div class="dropdown js-is-hidden" id="dropdown">
    <ul>
      <li><button class="dropdown-item" type="button"></button></li>
      <li>
        <button class="dropdown-item" type="button"></button>
      </li>
      <li><button class="dropdown-item" type="button"></button></li>
      <li><button class="dropdown-item" type="button"></button></li>
      <li><button class="dropdown-item" type="button"></button></li>
      <li><button class="dropdown-item" type="button"></button></li>
      <li><button class="dropdown-item" type="button"></button></li>
      <li><button class="dropdown-item" type="button"></button></li>
      <li>
        <button class="dropdown-item" type="button"></button>
      </li>
      <li><button class="dropdown-item" type="button"></button></li>
      <li><button class="dropdown-item" type="button"></button></li>
      <li><button class="dropdown-item" type="button"></button></li>
    </ul>
  </div>
</section>
