
<section class="news">

<div class="container">
    <ul class="card-set">
        <li class="news-card">
            <article>
            <div class="box-img">
                <img src="#" class="news-card__img" width="395" height="395" alt="img-news">
                <p class="box-img__inform">Job searching</p>
                <p class="box-img__text">Already read 
                    <svg class="box-img__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-check-mark-icon"></use>
                    </svg>
                </p>

                <button type="button" class="favorite-btn">
                    Add to favorite
                    <svg class="favorite-btn__icon" width="16" height="16">
                        <use class="icon-js" href="./images/sprite.svg#icon-icons-heart-no-active"></use>
                    </svg>
                </button>
            </div>

            <h2 class="news-card__title">8 tips for passing an online interview that will help you get a job</h2>
            <p class="news-card__text">Before you start looking for a job, it is useful to familiarize yourself with the
                job prospects offered by these</p>
            <div class="news-card__inform">
                <p class="news-card__date">xx/xx/xx</p>
                <a class="news-card__link" target="_blank" href="https://www.google.com/">
                    Read more
                </a>
            </div>
            </article>
        </li>


    <li class="news-card">
            <article>
            <div class="box-img">
                <img src="#" class="news-card__img" width="395" height="395" alt="img-news">
                <p class="box-img__inform">Job searching</p>
                <p class="box-img__text">Already read
                    <svg class="box-img__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-check-mark-icon"></use>
                    </svg>
                </p>

                <button type="button" class="favorite-btn">
                    Add to favorite
                    <svg class="favorite-btn__icon" width="16" height="16">
                        <use class="icon-js" href="./images/sprite.svg#icon-icons-heart-no-active"></use>
                    </svg>
                </button>
            </div>

            <h2 class="news-card__title">8 tips for passing an online interview that will help you get a job</h2>
            <p class="news-card__text">Before you start looking for a job, it is useful to familiarize yourself with the
                job
                prospects offered by these</p>
            <div class="news-card__inform">
                <p class="news-card__date">xx/xx/xx</p>
                <a class="news-card__link" target="_blank" href="https://www.google.com/">
                    Read more
                </a>
            </div>
            </article>
        </li>


    <li class="news-card">
            <article>
            <div class="box-img">
                <img src="#" class="news-card__img" width="395" height="395" alt="img-news">
                <p class="box-img__inform">Job searching</p>
                <p class="box-img__text">Already read
                    <svg class="box-img__icon" width="16" height="16">
                        <use href="./images/sprite.svg#icon-check-mark-icon"></use>
                    </svg>
                </p>

                <button type="button" class="favorite-btn">
                    Add to favorite
                    <svg class="favorite-btn__icon" width="16" height="16">
                        <use class="icon-js" href="./images/sprite.svg#icon-icons-heart-no-active"></use>
                    </svg>
                </button>
            </div>

            <h2 class="news-card__title">8 tips for passing an online interview that will help you get a job</h2>
            <p class="news-card__text">Before you start looking for a job, it is useful to familiarize yourself with the
                job
                prospects offered by these</p>
            <div class="news-card__inform">
                <p class="news-card__date">xx/xx/xx</p>
                <a class="news-card__link" target="_blank" href="https://www.google.com/">
                    Read more
                </a>
            </div>

    </article>
        </li>
    </ul>

</div>

</section>       