<div class="container">
    <ul class="date-list">
        <li class="date-list__item">
            <button class="date-list__btn">
                <span class="date-list__btn-text">27/06/1995</span>
                <span class="date-list__btn-elem">
                    <svg class="date-list__btn-svg">
                        <use class="date-list__btn-use" href="./images/sprite.svg#arrow-down2"></use>
                    </svg>
                </span>
            </button>
            <ul class="card-set"></ul>
        </li>
    </ul>
</div>