<div class="container">
    <ul class="date-list">
    </ul>
    <div class="read-noresults" style="display: none">
        <p class="p-noresults" id="p-noresults">
            We haven’t found news from this category
        </p>
        <picture>
            <source srcset="./images/desktop.png 1x, ./images/desktop@2x.png 2x" media="(min-width: 1200px)"
                alt="img-noresults" />
            <source srcset="./images/tablet.png 1x, ./images/tablet@2x.png 2x" media="(min-width: 768px)"
                alt="img-noresults" />
            <source srcset="./images/mobile.png 1x, ./images/mobile@2x.png 2x" media="(max-width: 767px)"
                alt="img-noresults" />
            <img src="./images/desktop.png" class="img-noresults" width="601px" height="478px" alt="img-noresults" />
        </picture>
    </div>
    </div>
</div>