<!-- weather__app -->
<div class="weather__app" >
    <div class="weather__app--info"> 
        <span class="weather__app--d" >23</span>        
        <div class="weather__app--g">
            <span class="weather__app--days--value" >Sunny</span>
            <p class="weather__app--location">
                <svg>   
                    <use href="./images/sprite.svg#location"></use>
                </svg>
                <span class="weather__app--city">West Jakarta</span>
            </p>
        </div>
    </div>

    <img href="#" class="weather__app--sun" >

    <div class="weather__app--date">
        <span class="weather__app--day">Mon</span>
        <span class="weather__app--year">21 Jan 2021</span>
    </div>      
    <a 
    href="https://www.meteoprog.com/ua/"
    class="weather__app--link"
    target="_blank"
    rel="noopener nofolow norefferer"
    >
    weather for week
    </a>
</div>