<!-- weather__app -->
<div class="weather__app" >
    <div class="weather__app--info"> 
        <span class="weather__app--degree" ></span>        
        <div class="weather__app--geo-position">
            <span class="weather__app--days-value" ></span>
            <p class="weather__app--location">
                <svg>   
                    <use href="./images/sprite.svg#location"></use>
                </svg>
                <span class="weather__app--city"></span>
            </p>
        </div>
    </div>

    <img class="weather__app--skyCons" />

    <div class="weather__app--date">
        <span class="weather__app--day"></span>
        <span class="weather__app--year"></span>
    </div>      
    <a 
    href="https://www.meteoprog.com/ua/"
    class="weather__app--link"
    target="_blank"
    rel="noopener nofolow norefferer"
    >
    Weather for Week
    </a>
</div>