.calendar-form__text {
    display: none;

    @media screen and (min-width: $desktop) {
        display: inline;
        font-weight: 700;
        font-size: 18px;
        color: var(--text-color);
        margin-left: 111px;
        // margin-right: 37px;
    }
}

.calendar-form {
    position: relative;
}

.input-form {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-input {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;

    width: 152px;
    height: 34px;
    padding: 5px 12px;
    border: 1px solid var(--text-color);
    border-radius: 20px;
    outline: transparent;

    text-align: center;

    font-size: 12px;
    line-height: 1.75;
    letter-spacing: 0.02em;

    color: var(--text-color);
    background-color: transparent;

    transition: color var(--transition), background-color var(--transition);

    cursor: url(../images/cursor-hand.svg), pointer;

    @media screen and (min-width: $tablet) {
        width: 168px;
        // height: 31px;
        font-size: 14px;
        line-height: 1.5;
        gap: 18px;
    }

        // Calendar-input is-active
        
        &.is-active::placeholder {
            color: var(--white);
        
            transition: color var(--transition);
        }

        &.is-active {
            background-color: var(--accent-color);
            color: var(--white);
            border-color: var(--accent-color);
            border: 1px solid var(--accent-color);
        
            transition: background-color var(--transition), color var(--transition), border-color var(--transition), border var(--transition);
        }
}

// Calendar's icons

.calendar__button-calendar {
    position: absolute;
    fill: var(--accent-color);
    margin-left: 12px;

    cursor: url(../images/cursor-hand.svg), pointer;

    transition: fill var(--transition);

    &.switched-color {
            z-index: 1;
            fill: var(--white);
    
            transition: fill var(--transition);
        }
}

.calendar__button-arrow {
    margin-left: 12px;
    display: flex;
    position: absolute;
    z-index: 1;
    fill: var(--bcg-arrow-icon-color);
    right: 12px;

    cursor: url(../images/cursor-hand.svg), pointer;

    transition: fill var(--transition);

    &.switched {
            fill: var(--white);
    
            transform: rotateX(180deg);
    
            transition: fill var(--transition), transform var(--transition);
        }
}

// Calendar-wrapper

.calendar-wrapper {
    position: absolute;

    overflow: hidden;
    z-index: 2;
    display: block;
    width: 250px;
    height: 250px;
    right: 0px;

    pointer-events: auto;

    // Calendar-wrapper is-hidden

    &.is-hidden-wrapper {
            pointer-events: none;
        }

    &.is-hidden-wrapper>.calendar-wrapper__container {
        transform: translateY(-104%);
        // box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    
        transition: transform var(--transition);
    }
}

.calendar-wrapper__container {
    cursor: default;
    z-index: 2;
    position: absolute;
    overflow: hidden;
    margin-left: 0;
    padding: 16px 16px 20px 16px;
    width: 250px;
    // height: 500px;
    right: 0px;
    background-color: var(--dropdown-list) ;
    // box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    // transition-duration: 250ms;
    // transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.calendar__button-arrow-icon {
    cursor: url(../images/cursor-hand.svg), pointer;
}

.calendar-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0px;
    height: 44px;
    margin-bottom: 2px;
  
}

.current-month {
    display: flex;
    justify-content: space-between;
}

.calendar__button-back {
    cursor: url(../images/cursor-hand.svg), pointer;
    display: flex;

    color: var(--accent-color);
}

.current-date {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: -0.408px;
    font-feature-settings: 'case' on;
    color: var(--calendar-color-date);
}

.calendar-icons {
    display: flex;
    
    color: var(--accent-color);

    & span {
            width: 33px;
            margin: 0 1px;
    
            // border-radius: 50%;
            fill: var(--accent-color);
        }

    & span:last-child {
        margin-right: -12px;
    }

    // & span:hover {
        //     background: var(--white);
        // }
}

// Calendar weeks

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.calendar li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: -0.078px;
    color: var(--calendar-week-color);
}

// Calendar days

.calendar .days li {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.79;
    letter-spacing: 0.38px;
    color: var(--calendar-color-date);
    z-index: 1;
    cursor: url(../images/cursor-hand.svg), pointer;
    position: relative;
    margin-bottom: 12px;

    &:nth-last-child(-n + 7) {
            margin-bottom: 0;
        }

    // &:nth-child(6n + 1),
    // &:nth-child(7n + 1) {
    //   color: var(--disabled-color);
    // }
}

// .days li::before {
//     position: absolute;
//     content: '';
//     left: 50%;
//     top: 50%;
//     height: 28px;
//     width: 28px;
//     z-index: -1;
//     border-radius: 50%;
//     transform: translate(-50%, -50%);
// }

// .days li.active {
//     color: var(--white);

    //  &::before {
            //     background: var(--accent-color);
            // }
// }