.container {
  @extend %container;
}

.p-noresults {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  width: 276px;
  margin: 0 auto 40px;

  @include tablet {
    font-size: 40px;
    line-height: 55px;
    width: 548px;
    margin: 88px auto 40px auto;
  }

  @include desktop {
    margin: 121px auto 40px auto;
  }
}

.img-noresults {
  width: 248px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 19px;

  @include tablet {
    width: 560px;
    margin-bottom: 101px;
  }

  @include desktop {
    margin: 0 auto 226px;
    width: 601px;
  }
}
