.container {
  max-width: 480px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @media screen and (min-width: 767.98px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1279.98px) {
    max-width: 1280px;
  }
}

body.darkMode {
  .header {
    border-bottom: 1px solid rgba(244, 244, 244, 0.2);
  }

  .theme__dark {
    opacity: 1;
  }
}

.header {
  min-height: 81px;
  border-bottom: 1px solid var(--header-border);
}

.header-container {
  display: flex;
  align-items: center;

  @media screen and (min-width: 767.98px) {
    align-items: none;
  }
}

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(33 / 24);
  display: inline-block;
  padding: 24px 0;

  @media screen and (min-width: 767.98px) {
    padding-top: 32px;
    padding-bottom: 30px;
    font-size: 32px;
    line-height: calc(44 / 32);
  }

  @media screen and (min-width: 1279.98px) {
    padding: 28px 0;
    font-size: 42px;
    line-height: calc(57 / 42);
  }
}

.navbar {
  display: none;

  @media screen and (min-width: 767.98px) {
    display: flex;
    margin-left: 48px;
    gap: 44px;
  }

  @media screen and (min-width: 1279.98px) {
    margin-left: 102px;
    gap: 69px;
  }
}

.navbar__item {
  padding-top: 48px;
  padding-bottom: 36px;

  @media screen and (min-width: 1279.98px) {
    padding-top: 55px;
    padding-bottom: 33px;
  }
}

.navbar__link {
  font-weight: 700;
  line-height: calc(22 / 16);

  @media screen and (min-width: 1279.98px) {
    font-size: 18px;
    line-height: calc(25 / 18);
  }

  &--current {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--accent-color);
    padding-left: 6px;
    padding-right: 6px;

    @media screen and (min-width: 1279.98px) {
      padding-bottom: 5px;
    }
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.search-field {
  margin-left: auto;
  display: flex;
  background-color: transparent;
  height: 31px;

  @media screen and (min-width: 767.98px) {
    border: 1px solid var(--text-color);
    border-radius: 20px;
    margin-top: 44px;
    margin-bottom: 31px;
    width: 213px;
  }

  @media screen and (min-width: 1279.98px) {
    margin: 0 auto;
    width: 288px;
    margin-top: 51px;
    margin-bottom: 31px;
  }

  input {
    font-family: 'Poppins';
    font-size: 12px;
    line-height: calc(21 / 12);
    letter-spacing: 0.02em;
    color: var(--text-color);
    border: none;
    background: none;
    outline: none;
    &:focus {
      color: var(--text-color);
    }

    &:autofill,
    &:autofill:hover,
    &:autofill:focus,
    &:autofill:active {
      transition: background-color 9999s, color 9999s;
    }
    @media screen and (max-width: 767.98px) {
      padding: 0;
      transition: 0.4s;
      width: 0;
    }

    @media screen and (min-width: 767.98px) {
      padding: 5px 0;
      font-size: 14px;
      line-height: calc(24 / 14);
    }
  }
  @media screen and (max-width: 767.98px) {
    &:hover {
      margin-top: 1px;
      border: 1px solid var(--text-color);
      border-radius: 20px;
      input {
        width: 125px;
        padding: 8px 0;
      }

      .search-field__btn {
        padding: 6px 16px 5px 12px;
      }
    }
  }
}
button {
  border: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: url(../images/cursor-hand.svg), pointer;
  background-color: inherit;
  box-shadow: none;
}

.search-field__btn {
  @media screen and (max-width: 767.98px) {
    color: var(--text-color);
    transition: 0.4s;
  }

  @media screen and (min-width: 767.98px) {
    padding: 8px 19px 8px 14px;
  }
}

.search__icon {
  fill: var(--text-color);
}

.mobile-button {
  margin-left: 14px;
}

.theme {
  gap: 8px;

  @media screen and (max-width: 767.98px) {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    &.mobile {
      display: flex;
      position: absolute;
      z-index: 6;
      bottom: 18;
      opacity: 100%;
      pointer-events: all;
      visibility: inherit;
    }
  }

  @media screen and (min-width: 767.98px) {
    display: flex;
    width: 98px;
    height: 21px;
    margin-left: 24px;
    margin-top: 49px;
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1279.98px) {
    gap: 12px;
    width: 148px;
    height: 24px;
    margin: 0;
    margin-top: 54px;
    margin-bottom: 35px;
  }
}

.mobile-button {
  .icon {
    fill: var(--text-color);
  }
  @media screen and (min-width: 767.98px) {
    display: none;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid var(--accent-color);
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 1px;
  background-color: var(--accent-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: var(--white);
}

input:checked + .slider {
  background-color: var(--accent-color);
  border: 1px solid var(--white);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.theme__dark {
  display: none;
}
.theme__light {
  display: none;
}
@media screen and (min-width: 1280px) {
  .theme {
    gap: 12px;
  }

  .theme__svg {
    display: none;
  }
  .theme__dark {
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 1.3;

    color: var(--switcher-gray-moon);
  }
  .theme__light {
    display: block;
    font-size: 18px;
    line-height: 1.3;
  }
  .opacityForDark {
    opacity: 0.4;
  }
}

.theme__light {
  color: var(--switcher-accent-day);
}

.sun {
  fill: var(--switcher-accent-day);
}
.moon {
  // fill: var(--switcher-gray);
  fill: var(--switcher-gray-moon);
}



// Burger-menu

.close__button{
  padding: 0;
  border: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 28px;
  right: 16px;
  cursor: pointer;
  transition: fill 250ms var(--time-function);

  &:hover, &:focus{
      fill: var(--accent-color);
  }
}

.menu__container{
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  padding-top: 125px;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateY(-200%);
  transition: transform 250ms var(--time-function);
}

.menu__container.is-open{
  transform: translateY(0);
}

.menu__logo{
  font-weight: 700;
  font-size: 24px;
  line-height: calc(33 / 24);
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 16px;
}

.menu a{
  display: flex;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-left: 0px;
  margin-right: 0px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  transition: color 250ms var(--time-function);

  &:hover, &:focus{
      background-color: var(--accent-color);
      color: var(--white);

      .page__next{
        display: block;
      }
  }
}

.menu__item{
   &:not(:last-child){
      margin-bottom: 32px;
   }
}

.menu__theme{
  position: absolute;
  bottom: 18px;
  left: 16px;
}

.menu__svg{
  background-color: var(--accent-color);
  width: 32px;
  height: 32px;
  border: 1px solid var(--white);
  border-radius: 50%;
  position: relative;
  margin-right: 14px;
}

.page__svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page__next{
  right: 25px;
  position: absolute;
  display: none;
}

.is-hidden {
  overflow: hidden;
}





